[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
nltkdata = "*"
beautifulsoup4 = "*"
requests = "*"
matplotlib = "*"
random-word = "*"
pipenv = "*"
scikit-learn = "*"
rank-bm25 = "*"

[dev-packages]

[requires]
python_version = "3.12"
